<div class="container">
  <div class="intro">
    <img src="assets/images/promotion/trap-car.jpg" alt="" />
    <p>
      Maska do nurkowania pełnotwarzowa Marki Gadgy. Rozmiar L/XL pasuje do
      twarzy gdzie odległość od szczytu nosa (pomiędzy brwiami) do dolnej
      krawędzi brody wynosi powyżej 12cm...
    </p>
    <h2>53zł</h2>
  </div>
  <div class="content">
    <h2>Opis produktu</h2>
    <p>
      Hot Wheels Kraken City to niesamowita zabawka dla miłośników motoryzacji i
      ekscytujących przygód. Ten dynamiczny zestaw zabawek przenosi dzieci w
      świat wypełniony ekscytującymi wyścigami i niebezpiecznymi akcjami. Kraken
      City to zestaw, który wyróżnia się swoją wyjątkową koncepcją - inspirowany
      morskimi motywami i mitycznymi stworzeniami. Głównym punktem tego zestawu
      jest niesamowity tor wyścigowy w kształcie potężnego kłębowiska kalmarów.
      Dzieci mogą ścigać się po krętych trasach, które imitują ruchy morskich
      fal i zakręty, zapewniając niezapomniane przeżycia podczas każdej rundy.
      Zestaw Hot Wheels Kraken City zawiera także różnorodne akcesoria i
      elementy, które dodają jeszcze więcej dynamiki do zabawy. Możesz
      spodziewać się tuneli, skoków, pułapek oraz specjalnych punktów
      startowych, które sprawią, że wyścigi będą jeszcze bardziej ekscytujące.
      Dodatkowo, w zestawie znajdują się niezwykłe pojazdy Hot Wheels
      inspirowane morskimi stworzeniami, które zapewnią nie tylko wyjątkową
      wydajność, ale także estetykę pasującą do tematu zestawu. Hot Wheels
      Kraken City to nie tylko zabawka, ale również sposób na rozwijanie
      kreatywności i wyobraźni dziecka. Dzięki możliwościom konstruowania
      własnych tras i scenariuszy wyścigowych, dzieci mogą eksperymentować,
      rozwijać umiejętności planowania oraz uczyć się pracy zespołowej poprzez
      wspólne tworzenie i udoskonalanie tras. W skrócie, Hot Wheels Kraken City
      to fantastyczna zabawka, która zapewni dzieciom godziny zabawy, pełne
      emocji i niezapomnianych przygód, jednocześnie rozwijając ich wyobraźnię i
      umiejętności kreatywne.
    </p>
  </div>
</div>
