<div class="container">
  <ng-container *ngFor="let cards of inspirationData">
    <app-inspiration-cards
      (click)="togglePopup(cards)"
      [DataInspiration]="cards"
    ></app-inspiration-cards>
  </ng-container>
  <div class="popup" [class.active]="isPopupOpen">
    <div class="popup-image">
      <img
        src="{{ contentInspiration.inspirationImage }}"
        alt="Product Image"
      />
    </div>
    <div class="popup-content">
      <h2>{{ contentInspiration.title }}</h2>
      <p>{{ contentInspiration.description.paragraphs.first }}</p>
    </div>
  </div>
</div>
