<div class="container">
  <h2>{{ "title" | translate }}</h2>
  <p>{{ "title-text" | translate }}</p>
  <h2>{{ "mission" | translate }}</h2>
  <p>{{ "mission-text" | translate }}</p>
  <h2>{{ "offer" | translate }}</h2>
  <p>{{ "offer-text" | translate }}</p>
  <ul class="listy">
    <li>{{ "offer-list-item-one" | translate }}</li>
    <li>{{ "offer-list-item-two" | translate }}</li>
    <li>{{ "offer-list-item-three" | translate }}</li>
    <li>{{ "offer-list-item-four" | translate }}</li>
    <li>{{ "offer-list-item-five" | translate }}</li>
  </ul>
  <h2>{{ "why-us" | translate }}</h2>
  <ol>
    <li><b>{{"why-us-list-item-one-intro" | translate}}</b>&nbsp;{{ "why-us-list-item-one" | translate }}</li>
    <li><b>{{"why-us-list-item-two-intro" | translate}}</b>&nbsp;{{ "why-us-list-item-two" | translate }}</li>
    <li><b>{{"why-us-list-item-three-intro" | translate}}</b>&nbsp;{{ "why-us-list-item-three" | translate }}</li>
    <li><b>{{"why-us-list-item-four-intro" | translate}}</b>&nbsp;{{ "why-us-list-item-four" | translate }}</li>
  </ol>
</div>
