<div class="footer">
    <div class="content-container">
      <div class="content">
        <ul>
          <li>
            <a href="/promotion">{{'promotion' | translate}}</a>
          </li>
          <li>
            <a href="/inspiration">{{'inspiration' | translate}}</a>
          </li>
          <li>
            <a href="/news">{{'news' | translate}}</a>
          </li>
          <li>
            <a href="/contact">{{'contact' | translate}}</a>
          </li>
        </ul>
        <p>Copyright</p>
      </div>
    </div>
  </div>