<nav>
    <div class="wrapper">
      <div class="logo"><a href="">{{'Logo' | translate}}</a></div>
      
      <ul class="nav-links">
        <li class="translator" *ngFor="let language of translate.getLangs()"
        (click)="switchLanguage(language)"><img class="translator_image" src="assets/images/translators/{{language}}.png"></li>
        <li><a href="/promotion">{{'promotion' | translate}}</a></li>
        <li><a href="/inspiration">{{'inspiration' | translate}}</a></li>
        <li><a href="/news">{{'news' | translate}}</a></li>
        <li><a href="/contact">{{'contact' | translate}}</a></li>
      </ul>
    </div>
  </nav>
 
 